/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    
}

body { 
    overflow-x: hidden;
} 

:root {
    --color-default: #2b180d;
    --color-primary: #A62454;
    --color-secondary: #BF788B;
    --color-tertiary: #788C69;
    --color-quaternary: #C9D9A9;
  }

.fundo-de-tela{
    width: 50%;
    margin-top: 13em;
    margin-left: -4em;
    
}

header{

     /* background: linear-gradient(to right, #788C69, #C9D9A9); */
     width: 100%;
     height: 49em;
     color: #f2f2f2;
     
}
.imagem-perfil{
    width: 30%;
    margin-top: -31.9em;
    margin-left: 67.5em;
    
}

h2{
    color: #f2f2f2;
    position: absolute;
    top: 1em;
    padding-left: 10px;
    font-weight: 400;
    
}

.menu{
    position: fixed;
    background-color: var(--color-secondary);
    /* background: linear-gradient(to right, #788C69, #C9D9A9); */
    margin: auto;
    width: 100%;
    font-weight: 400;
    
}
.menu ul{
    /* list-style: none; */
    display: flex;
    justify-content: flex-end;
    position: relative;
    font-size: 22px;
    

}

.menu>ul>li{
    
    display: flex;
    float: left; 
    padding: 1em;
    
}

.menu > ul>li> a{
    padding: 4px;
    text-decoration: none;
    text-align: end;
    color: white;
    /* color: var(--color-tertiary); */
      
}

.menu >ul>li> a:hover{
    padding: 10px;
    background-image: linear-gradient(to right, #C9D9A9, #C9D9A9); 
    color: var(--color-tertiary);   
    border-radius: 10px;
    
}
h3{
    position: relative;
    top: -19.7em;
    left: 14rem;
    color: var(--color-tertiary);
    font-weight: 400;
    font-size: 22px;
}
.simbolos{
    margin-left: 32.2em;
    margin-top: 6.5em;
}
.whatsapp{
    position: relative;
    top: -15.7em;
    left: 13em;
    color: var(--color-secondary);
    
}
.whatsapp a{
     color: inherit;
    
}
.instagram{
    position: relative;
    top: -18.1em;
    left: 20em;
    color: var(--color-secondary);
}
.instagram a{
    color: inherit;
}
.email{
    position: relative;
    top: -20.3em;
    left: 27em;
    color: var(--color-secondary);
}

.sobre-mim h2{
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 53rem;
    font-size: 30px;
    width: 50%;
    border-radius: 15px;
    margin-left: -5em;
    color: var(--color-tertiary);
    
}

#sobre-mim-id h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 13%;
    height: 2px;
    background: var(--color-secondary);
    left: 10px;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: -0.5em;
      
  }

.sobre-mim{
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: -25rem;
    margin-bottom: 22em;
    line-height: 27px;
    width: 50rem;
    margin-left: 36rem;
    font-weight: 400;
    font-size: 22px;
    color: var(--color-tertiary);
   
}

.formacao{
    position: relative;
    top: 7rem;
    line-height: 35px;
}


.imagem-sobre-mim{
    margin-left: 6rem;
    margin-top: -5em;
    width: 23%;
}

#area-de-atuacao h2{
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 100rem;
    font-size: 30px;
    width: 50%;
    border-radius: 15px;
    margin-left: 13em;
    color: var(--color-tertiary);
}

#area-de-atuacao h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 13%;
    height: 2px;
    background: var(--color-secondary);
    left: 10px;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: -0.5em;
      
}

#area-de-atuacao h3{
    position: relative;
    top: -1em;
    
}

.imagem-nutricao-esportiva{
    margin-left: 10rem;
    margin-top: 2em;
}

.imagem-nutricao-esportiva img{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.344);
}

.nutricao-esportiva h2{
    text-align: start;
    margin-top: 61em;
    margin-left: -0.5em;
    color: var(--color-tertiary);
    
}

.nutricao-esportiva{
    width: 50%;
    text-align: start;
    justify-content: center;
    color: var(--color-tertiary);
    margin-top: -11em;
    margin-left: 25em;
    margin-bottom: 15em;
    font-size: 20px;

}

.imagem-nutricao-clinica{
    margin-left: 62em;
    margin-top: -6em;
   
}

.imagem-nutricao-clinica img{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.344);
}

.nutricao-clinica{
    width: 50%;
    text-align: start;
    justify-content: center;
    color: var(--color-tertiary);
    margin-top: -10em;
    margin-left: 12em;
    margin-bottom: 15em;
    font-size: 20px;
}
.nutricao-clinica h2{
    text-align: start;
    margin-top: 75em;
    margin-left: -0.4em;
    color: var(--color-tertiary);
}


.consulta{
    font-size: 30px;
    text-align: center;
    
}
.consulta h2{
    background-color: var(--color-secondary);
    margin-top: 60em;
    width: 100%;
    padding: 4em;
    font-weight: 500;

}


#post-nutricao > div> h2{
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 1em;
    font-size: 30px;
    margin-top: -4em;
    color: var(--color-tertiary);
    width: 90%;
    
}

.descricao-do-post{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 32em; 
    

} 
#post-1{
    font-weight: 200;
   
}

#post-2{
    font-weight: 200;
}

#post-3{
    font-weight: 200;
}

.mitos-verdades{
    margin-bottom: 27em;
    width: 400px;
    height: 310px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.344);
    
}

.mitos-verdades img{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.mitos-verdades:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.tres-coisas{
    
    margin-bottom: 27em;
    width: 400px;
    height: 310px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.344);
    
}

.tres-coisas img{
    width: 100%;
    height: 100%;
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

.tres-coisas:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.icafe-da-manha{
    
    margin-bottom: 27em;
    width: 400px;
    height: 310px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.344);
    
}

.icafe-da-manha img{
    width: 100%;
    height: 100%;
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

.icafe-da-manha:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.fotos-do-post{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}

#consulta{
    margin-bottom: 2em;
    font-size: 35px;
    color: #A62454;
    position: relative;
    
}
#consulta h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 7%;
    height: 2px;
    background: var(--color-quaternary);
    left: 10px;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: -0.5em;
      
  }

#consulta > h2{
    width: 50%;
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color: var(--color-tertiary);
    position: relative;
    top: -1em;
    left: 6em;
 
}


.slider{
    
    /* display: block;
    text-align: center;
    justify-content: center;
    font-size: 23px;
    width: 50%;
    padding: 5em;
    border-radius: 15px;
    margin-left: 27.5em;
    color: var(--color-tertiary);
    margin-top: -6em; */
    margin: 0 auto;
    width: 850px;
    height: 400px;
    overflow: hidden;
    margin-top: -3em;
    margin-left: 26em;
    padding: 0 auto;

}

.slides{
    width: 900%;
    height: 500px;
    display: flex;
    

}

.slides input{
    display: none;
}

.slide{
    width: 22%;
    position: relative;
    top: 20px;

}
.slide p{
    width: 700px;

}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -110px;
    display: flex;
    margin-left: 29em;
}

.manual-btn{
    border: 2px solid var(--color-tertiary);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}

.manual-btn:not(:Last-child){
    margin-right: 20px ;
}

.manual-btn:hover{
    background-color: var(--color-quaternary);
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -44%;
}

#radio4:checked ~ .first{
    margin-left: -66%;
}

#radio5:checked ~ .first{
    margin-left: -88%;
}

#radio6:checked ~ .first{
    margin-left: -110%;
}



.primeira-pag-slide{
    
    position: relative;
    top: 2em;
    left: 10em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: -2em;
    padding: 10px;
    font-size: 18px;
    padding-bottom: 2em;
    
   
    
    /* text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    top: 1em; */
   
}
.primeira-pag-slide{
    color: var(--color-tertiary);
}

.segundo-titulo-slide{
    position: relative;
    top: 1em;
    left: 16em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--color-tertiary);
    font-size: 20px;
    padding-bottom: 2em;
}
#duracao-consulta{
    position: relative;
    left: 19em;
    color: var(--color-tertiary);
    margin-top: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.segunda-pag-slide1{
    color: var(--color-tertiary);
    position: relative;
    top: 1em;
    left: 11em;
    font-size: 27px;
    padding-bottom: 1em;
}

.segundo-titulo-slide1{
    position: relative;
    top: 1.2em;
    left: 14em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--color-tertiary);
    font-size: 18px;
}
.segunda-pag-slide{
    color: var(--color-tertiary);
    position: relative;
    top: 1em;
    left: 12em;
    font-size: 18px;
}

.slide{
    position: relative;
    top: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-left: 100px;
}

#sobre > h2{
    width: 50%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    
}

.segunda-img{
    margin-left: 4.5em;
    margin-top: -35em;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.177);
    padding: 0px -45px 0px;
    width: 90%;
    
}
#sobre{
    margin-bottom: 2em;
    margin-top: -10em;
    font-size: 35px;
    color: #A62454;
    position: relative;
    
}
#sobre h2::after{
  content: "";
  position: absolute;
  display: block;
  width: 15%;
  height: 2px;
  background: var(--color-tertiary);
  left: 10px;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: -0.5em;
    
}


#seta-esquerda h2{
    position: absolute;
    padding: 15px;
    box-shadow: 2px -2px 0 1px #000 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
    margin-left: 38em;
    margin-top: -16em;
    }

#seta-direita{
    position: absolute;
    padding: 15px;
    box-shadow: 2px -2px 0 1px #000 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(225deg);
    margin-left: 80em;
    margin-top: -16em;
}

