@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    /* font-family: "Monstserrat"; */
    box-sizing: border-box;
    
}
body { 
    overflow-x: hidden;
} 

:root {
    --color-default: #2b180d;
    --color-primary: #A62454;
    --color-secondary: #BF788B;
    --color-tertiary: #788C69;
    --color-quaternary: #C9D9A9;
  }

.fundo-de-tela{
    width: 50%;
    margin-top: 10em;
    margin-left: 8em;
    
}

header{

     /* background: linear-gradient(to right, #788C69, #C9D9A9); */
     width: 100%;
     height: 49em;
     color: #f2f2f2;
     
}
.imagem-perfil{
    width: 30%;
    margin-top: -31.9em;
    margin-left: 67.1em;
    
}

.menu{
    position: fixed;
    background: linear-gradient(to right, #788C69, #C9D9A9);
    margin: auto;
    width: 100%;
    
}
.menu ul{
    /* list-style: none; */
    display: flex;
    justify-content: flex-end;
    position: relative;
    font-size: 22px;

}

.menu>ul>li{
    
    display: flex;
    float: left; 
    padding: 1em;
    
}

.menu > ul>li> a{
    padding: 4px;
    text-decoration: none;
    text-align: end;
    color: white;
    /* color: var(--color-tertiary); */
      
}

.menu >ul>li> a:hover{
    padding: 10px;
    background-image: linear-gradient(to right, #C9D9A9, #C9D9A9); 
    color: var(--color-tertiary);   
    border-radius: 10px;
    
}
.simbolos{
    margin-left: 11.2em;
    margin-top: 6em;
}
.whatsapp{
    position: relative;
    top: -15.7em;
    left: 13em;
    color: var(--color-tertiary);
    
}
.whatsapp a{
     color: inherit;
    
}
.instagram{
    position: relative;
    top: -18.1em;
    left: 20em;
    color: var(--color-tertiary);
}
.instagram a{
    color: inherit;
}
.email{
    position: relative;
    top: -20.3em;
    left: 27em;
    color: var(--color-tertiary);
}

#post-nutricao > div> h2{
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 1em;
    font-size: 30px;
    margin-top: -4em;
    color: var(--color-tertiary);
    width: 90%;
    
}

.descricao-do-post{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 32em; 
    
    
} 
#post-1{
    font-weight: 200;
}

#post-2{
    font-weight: 200;
}

#post-3{
    font-weight: 200;
}

.mitos-verdades{
    
    margin-bottom: 27em;
    width: 400px;
    height: 310px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.344);
    
}

.mitos-verdades img{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.mitos-verdades:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.tres-coisas{
    
    margin-bottom: 27em;
    width: 400px;
    height: 310px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.344);
    
}

.tres-coisas img{
    width: 100%;
    height: 100%;
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

.tres-coisas:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.icafe-da-manha{
    
    margin-bottom: 27em;
    width: 400px;
    height: 310px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.344);
    
}

.icafe-da-manha img{
    width: 100%;
    height: 100%;
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

.icafe-da-manha:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.fotos-do-post{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}

#consulta{
    margin-bottom: 3em;
    font-size: 35px;
    color: #A62454;
    position: relative;
    
}
#consulta h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 2px;
    background: var(--color-quaternary);
    left: 10px;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: -0.5em;
      
  }

#consulta > h2{
    width: 50%;
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color: var(--color-tertiary);
    position: relative;
    top: -2em;
 
}


.consultas{
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: -8em;
    font-size: 23px;
    width: 50%;
    padding: 5em;
    border-radius: 15px;
    margin-left: 27.5em;
    color: var(--color-primary);

}

#sobre > h2{
    width: 50%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    
}

.segunda-img{
    margin-left: 7em;
    margin-top: -33em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.31);
    padding: 0px -45px 0px;
    width: 90%;
    background-color:#bf788b22;
    
}
#sobre{
    margin-bottom: 2em;
    margin-top: -10em;
    font-size: 35px;
    color: #A62454;
    position: relative;
    
}
#sobre h2::after{
  content: "";
  position: absolute;
  display: block;
  width: 15%;
  height: 2px;
  background: var(--color-tertiary);
  left: 10px;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: -0.5em;
    
}
.sobre-mim {
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 8em;
    font-size: 23px;
    width: 50%;
    padding: 5em;
    border-radius: 15px;
    margin-left: 27.5em;
    color: var(--color-primary);
    

}

