
*{
    margin: 0;
    padding: 0;
    font-family: "Monstserrat";
    box-sizing: border-box;
    
}
body{
    padding-bottom: 500px;
}

#perfil {
    background: linear-gradient(rgba(211, 207, 207, 0.515), rgba(211, 207, 207, 0.46)), url("img/primeira (1).png");
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    color: #A62454;
    font-size: 1.5em;
    
}

.elizabeth{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}
.foto-perfil{
   width: 25vh;
   position: relative;
   top: -43em;
   left: 58em;

}

.sobre-mim{
    height: 80vh;
    max-width: 12000px;
    text-align: center;
    justify-content: center;
    height: 80vh;
    margin-bottom: 3em;
    margin-top: -2em;

    
}

#formulario-de-contato{
    background-size: cover;
    height: 30vh;
    width: 40vh;
    display: inline-block;
    color: #A62454; 
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -21em;
    left: 48em; 
    background-color: #c6d9a9c5;
    padding: 2em;
    border-radius: 15px;
    /* padding-top: 10em;  esse é quando for mudar o tamanho*/
}
#formulario-de-contato p{
    
    font-size: 110%;
    font-weight: bold;
    color: #A62454;
   
}
.perguntas-formulario{
   
    position: relative;
    right: 0.5em;
    top: 2em;
    height: 10vh;
    max-width: 12000px;
    margin-bottom: 3em;
    font-weight: bold;
    
}
.perguntas-formulario input{
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

#botao{
    text-transform: uppercase;
    width: 40%;
    border: none;
    padding: 5px;
    margin: 2em;
    margin-left: 4rem;
    cursor: pointer;
    opacity: 0.8;
    color: #A62454;
}

#botao:hover{
    opacity: 2;
}

#key-benefits h2{
    background: #A62454;
    text-align: center;
    padding: 2em;
    font-weight: 500;
    
    color: white;
    position: relative;
    top: -292px;
}

.benefits{
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -230px;
}

.benefit{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    font-size: 20px;
    width: 50%;
    height: 50%;
    background-color: #c6d9a9c5 ;
}

.benefit .benefit-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    position: relative;
    top: -100px;

}

#benefit-1{
    background-image: url("../img/foto1.png");
}

#benefit-2{
    background-image: url("../img/foto2.png");
}

#benefit-3{
    background-image: url("../img/foto3.png");
}

#localizacao{
    height: 400px;
     background: #A62454; 
    /* background: linear-gradient(rgba(211, 207, 207, 0.515), rgba(211, 207, 207, 0.46)), url("img/primeira (1).png"); */
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;

}
#endereco,
#sobre-localizacao{
    max-width: 30%;
}

#endereco{
    display: flex;
}
#endereco i{
    color:  #c6d9a9c5;
    font-size: 4em;
    margin-right: 0.5em;
    margin-top: -15px;
}

#detalhes-endereco{
    text-align: center;
    font-size: 1.1em;
}

#sobre-localizacao h3{
    color: aliceblue;
    font-size: 2.0em;
    margin-bottom: 1em;
    text-transform: uppercase;
}
